/* *\********* Animation  **********\* */

@keyframes barre {
    50% {
        opacity: 0; /* Cache le curseur à 50% du temps */
    }
}

@keyframes animBack {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes revealText {
    0% {
        opacity: 0; /* Commencez avec une opacité de 0 */
    }
    100% {
        opacity: 1; /* Terminez avec une opacité de 1 */
    }
}